.billing-block{
    height:100vh;
    .inner{
        height:100%;
        max-width:1660px;
        margin:0 auto;
        display:flex;
        align-items: center;
        justify-content: center;
        .billing-block-container{
            border:2px solid #000;
            width:100%;
            padding:20px;
            .line-item{
                display:flex;
                justify-content: center;
                align-items: flex-end;
                .text-item{
                    white-space: nowrap;
                    font-family:'steelfish';
                    &.sbt{
                        font-size:40px;
                    }
                    &.sst{
                        line-height:155%;
                    }
                    &.dst{
                        .bottom-text{
                            line-height:155%;
                        }
                    }
                }
            }
        }
    }
}